[run]
branch = true
parallel = true
source = picobox

[paths]
source =
   src/
   */site-packages/

[report]
exclude_lines =
    # __repr__ is used for debug purposes and is not something we want to
    # test or rely on
    def\s+__repr__
