dist: trusty
sudo: false

language: python
cache: pip

install:
  - pip install tox codecov

script:
  - tox
  - codecov --env TOXENV

stages:
  - name: lint
  - name: test
  - name: docs
  - name: pypi
    if: tag IS present

jobs:
  include:
    - stage: lint
      env: TOXENV=metadata
      python: '3.6'

    - stage: lint
      env: TOXENV=pep8
      python: '3.6'

    - stage: test
      env: TOXENV=py27
      python: '2.7'

    - stage: test
      env: TOXENV=py34
      python: '3.4'

    - stage: test
      env: TOXENV=py35
      python: '3.5'

    - stage: test
      env: TOXENV=py36
      python: '3.6'

    - stage: test
      env: TOXENV=py37
      python: '3.7'
      dist: xenial
      sudo: true

    - stage: test
      env: TOXENV=pypy
      python: 'pypy'

    - stage: test
      env: TOXENV=pypy3
      python: 'pypy3'

    - stage: docs
      env: TOXENV=docs
      python: '3.6'

    - stage: pypi
      deploy:
        provider: pypi
        distributions: sdist bdist_wheel --universal
        on:
          tags: true
        user: $PYPI_USERNAME
        password: $PYPI_PASSWORD
      script: skip
      install: skip
